@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: rgb(94, 91, 91);
  margin: 0;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-items li {
  padding: 1.2rem;
  font-size: larger;
  color: black;
}

.nav-link {
  text-decoration: none;
}

nav li:hover {
  color: tomato;
}
#input-box {
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 5px;
}
.logo {
  height: 50px;
  width: 50px;
}
/* top section  */
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.2rem;
}
.flex-container {
  display: flex;
  margin: 40px 0 50px 0;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width p {
  width: 80%;
}
.half-width img {
  width: 80%;
  border-radius: 20px;
}
.orange-color {
  color: orangered;
}
.link-btn {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(salmon, orange);
}
/* middle section  */
.background {
  background-image: url(img/middle-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}
h2 {
  font-size: 2rem;
}
.card-intro {
  text-align: center;
  width: 60%;
  margin: auto;
}
.card {
  width: 280px;
  height: 550px;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 20px;
}
.card-img img {
  max-width: 100%;
  border-radius: 15px;
}
h4 {
  color: tomato;
}
button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: palevioletred;
  padding: 8px 15px;
  cursor: pointer;
}
.card-detail {
  text-align: center;
}
.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* social network */
.social {
  width: 80%;
  margin: 8% auto;
  box-shadow: 10px 10px 20px gray;
  border-radius: 20px;
}
.social-media {
  margin-left: 10%;
  margin-right: 8%;
}
.bottom-text h3 {
  text-align: center;
  color: grey;
  font-family: "Bebas Neue", cursive;
}

.bottom-text h2 {
  text-align: center;
  color: black;
}
.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.icon img {
  height: 40px;
  width: 40px;
  margin: 15px;
}
/* customer review & subscription */
#comment-box {
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 10px;
}
.comment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
}
/* footer */
footer {
  text-align: center;
  background-color: black;
  padding: 5rem;
  margin: 0;
}
.orange {
  color: orange;
}
